@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,300&family=Roboto:ital,wght@0,100;0,400;1,700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
img{
    width: 30%;
    margin: calc(10%/6);
}
nav{
    text-transform: uppercase;
    border-bottom: 4px solid #ff9393;
    width: 30%;
    padding: .7em 0;
    margin-left: calc(10%/6);
    font-size: 1.4em;
}