/*Color practice starts here*/

/*h2{
    color:#5fcffc;
    background-color: rgb(89, 151, 0);
}

button{
    color: magenta;
    background-color: cyan;
}
p{
    color: olive;
    background: orange;
}*/

/* Text Properties practices start right here */

h1{
    text-align: center;
    font-weight: 200;
    text-decoration: #f78120 underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;

}

p{
    line-height: 2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}